* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
  color: green;
}

.main {
  height: 100vh;
  max-width: 100%;
  background: wheat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/student-at-library.jpg);
  /* Add some content at the bottom of the video/page */
}
.main #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.main .content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__title {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
}
.main__title h1, .main__title h3 {
  font-size: 40px;
  color: gold;
}
.main__title h3 {
  color: white;
  font-size: 20px;
}
.main__form {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__form__fill {
  width: 90%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__form__fill label {
  width: 40%;
  color: gold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.main__form__fill input {
  padding: 5px 5px;
  min-width: 40%;
  height: 40px;
  background: transparent;
  color: white;
  border: 3px solid white;
  border-radius: 4px;
  outline: none;
  font-size: 18px;
}
.main__form__fill input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.415);
  font-size: 14px;
}
.main__form__fill input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.415);
  font-size: 14px;
}
.main__form__fill input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.415);
  font-size: 14px;
}
.main__form__fill input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.415);
  font-size: 14px;
}
.main__form__fill input::placeholder {
  color: rgba(255, 255, 255, 0.415);
  font-size: 14px;
}
.main__form__buttons {
  width: 20%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}
.main__form__buttons .alpha {
  border-radius: 15px;
  outline: none;
  background: transparent;
  border: 2px solid white;
  padding: 8px;
  color: gold;
}
.main__form .names {
  height: auto;
  width: 100%;
  padding: 20px 10px;
  background-color: darkblue;
}